/Dockerfile
/forslag.docx
/hello.py
/MVP_vegvesen_data.csv
/Nedlastinger - Snarvei.lnk
/ny_vegvesen_data.csv
/pythagoras.py
/Sykehus-lokasjoner.csv
/Sykehus-lokasjoner.txt
/Sykehus-lokasjoner.xlsx
/Sykehus-lokasjoner2.csv
/utmtest.py